{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Home</title>
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<section class="section-em-alta">
  <div class="title-section">
    <h1>Em alta</h1>
    <h3><a href="#"><i class="fas fa-plus"></i> Ver mais</a></h3>
  </div>
  <div class="content-livro">
    {% for livro in livros|slice:"8" %}
    <div class="livro">
      <img src="{{ livro.img_livro.url }}" alt="{{ livro.titulo }}">
      <h3>{{ livro.titulo }}</h3>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}

{% block scripts %}

{% endblock %}